{:deps {lojix/lib {:local/root "lib"}
	lojix/cli {:local/root "cli"}}

 :aliases {:test-paths [ "lib/test" "cli/test" ]

	   :dev {:extra-paths :test-paths }
	   
	   :test {:extra-paths :test-paths
		  :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
		  :exec-fn kaocha.runner/exec-fn
		  :exec-args {}}}}
